# Bonus: Temperature Analysis I

In [3]:
import pandas as pd
from datetime import datetime as dt

In [4]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df["date"],format='%Y-%m-%d')
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [6]:
# Set the date column as the DataFrame index
df=df.set_index("date")
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [7]:
# Drop the date column

### Compare June and December data across all years

In [8]:
from scipy import stats

In [12]:
# Filter data for desired months
test=(df.index.month==6)
df_june=df[test]
df_june.head()

test=(df.index.month==12)
df_dec=df[test]
df_dec.head()

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [13]:
# Identify the average temperature for June
df_june["tobs"].mean()

74.94411764705882

In [14]:
# Identify the average temperature for December
df_dec["tobs"].mean()

71.04152933421226

In [ ]:
# Create collections of temperature data

In [16]:
# Run paired t-test
stats.pearsonr(df_june["tobs"],df_dec["tobs"])

ValueError: x and y must have the same length.

### Analysis